.paddle {
    width: 40px;
    height: 150px;
    position: absolute;
    top: calc(50% - 75px);
    background: #666;
}

#paddle1 {
    left: 50px;
}

#paddle2 {
    right: 50px;
}


#ball {
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    background-color: #aa0000;
}