/* --- Tipografías --- */

/* fuente más fina para textos */
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

/* fuente más gruesa para menús */
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* --- Estilos globales --- */

:root{
    --background-primary: #0A0A0A;
    --text-primary: #EDEDED;
    --ui-color: #777777;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    height: 100vh;
    background-color: var(--background-primary);
    color: var(--text-primary);
    border: 2px solid var(--text-primary);

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#app-wrapper{
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 1rem;
    border-bottom: 2px solid var(--text-primary);
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.menu-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: fit-content;
    padding: 1rem;
}


#menu {
    background-color: var(--ui-color);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
