/* --- Tipografías --- */

/* fuente más fina para textos */
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

/* fuente más gruesa para menús */
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* --- Estilos globales --- */

:root {
    --background-primary: #0A0A0A;
    --text-primary: #EDEDED;
    --ui-color: #777777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: var(--background-primary);
    color: var(--text-primary);

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#app-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-primary);
    min-height: 100vh;
}

header {
    display: flex;
    padding: 1rem;
    border-bottom: 2px solid var(--text-primary);
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#menu-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: fit-content;
}


#main-menu {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main-menu li {
    padding: 1rem;
}

#main-menu li:hover {
    background-color: var(--ui-color);
    cursor: pointer;
}

#music-switch:hover {
    color: red;
}

#sounds-switch:hover {
    color: red;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-TOP: 2px solid var(--text-primary);
}

#footer-contact {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#footer-contact a {
    color: var(--text-primary);
}

#footer-contact a:hover {
    color: var(--ui-color);
}

.hidden {
    display: none;
}